--
-- PostgreSQL database dump
--

\restrict t4NGG9cmakFkZFH5t6j7uhJxRxvRlzHonHWiWBaCZS4dHEo0AsKYTQdN1Ck5UYh

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_approval_steps_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_approval_steps_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.enum_approval_steps_status OWNER TO postgres;

--
-- Name: enum_approval_workflows_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_approval_workflows_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.enum_approval_workflows_status OWNER TO postgres;

--
-- Name: enum_notifications_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_notifications_type AS ENUM (
    'info',
    'success',
    'warning',
    'error'
);


ALTER TYPE public.enum_notifications_type OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: approval_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approval_steps (
    id uuid NOT NULL,
    "workflowId" uuid NOT NULL,
    level integer NOT NULL,
    "approverRole" character varying(255) NOT NULL,
    approver character varying(255),
    status public.enum_approval_steps_status DEFAULT 'pending'::public.enum_approval_steps_status,
    comments text,
    "actionAt" timestamp with time zone,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.approval_steps OWNER TO postgres;

--
-- Name: approval_workflows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approval_workflows (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    "submittedBy" character varying(255) NOT NULL,
    "esgDataId" character varying(255),
    status public.enum_approval_workflows_status DEFAULT 'pending'::public.enum_approval_workflows_status,
    "currentLevel" integer DEFAULT 1,
    metadata jsonb DEFAULT '{}'::jsonb,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.approval_workflows OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    action character varying(255) NOT NULL,
    "userId" character varying(255) NOT NULL,
    category character varying(255),
    details text,
    metadata jsonb DEFAULT '{}'::jsonb,
    "previousHash" character varying(255),
    hash character varying(255),
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    reporting_year integer NOT NULL,
    sector character varying(150),
    region character varying(150),
    primary_reporting_framework character varying(255) DEFAULT 'GRI'::character varying NOT NULL,
    assurance_level character varying(100),
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.companies_id_seq OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- Name: esg_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.esg_data (
    id uuid NOT NULL,
    "companyName" character varying(255),
    category character varying(255),
    "metricName" character varying(255),
    "metricValue" double precision,
    "reportingYear" integer,
    "submittedBy" character varying(255),
    status character varying(255) DEFAULT 'pending'::character varying,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.esg_data OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    "userId" character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    message text,
    type public.enum_notifications_type DEFAULT 'info'::public.enum_notifications_type,
    read boolean DEFAULT false,
    "workflowId" uuid,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- Name: approval_steps approval_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_pkey PRIMARY KEY (id);


--
-- Name: approval_workflows approval_workflows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_workflows
    ADD CONSTRAINT approval_workflows_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: esg_data esg_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.esg_data
    ADD CONSTRAINT esg_data_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: approval_steps approval_steps_workflowId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT "approval_steps_workflowId_fkey" FOREIGN KEY ("workflowId") REFERENCES public.approval_workflows(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict t4NGG9cmakFkZFH5t6j7uhJxRxvRlzHonHWiWBaCZS4dHEo0AsKYTQdN1Ck5UYh

